#cngbMainBox {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 47, 47, 0.75);
}

#cngbCreateBox {
  width: 46.25rem;
  height: 19.8125rem;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;

  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;

  #cngbCreateBoxHeading {
    align-self: flex-start;
    font-family: Roboto;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: 0.035em;
    text-align: left;
    padding-left: 1.5rem;
  }

  #cngbCreateBoxGrpName {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding-left: 5rem;

    #cngbCreateBoxGrpNameP {
      font-family: Roboto;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 44px;
      letter-spacing: 0.035em;
      text-align: left;
      margin-right: 1rem;
    }

    #cngbCreateBoxGrpNameinp {
      border-radius: 22px;
      border: 2px solid rgba(204, 204, 204, 1);
      width: 27.1875rem;
      height: 2.1875rem;
      font-family: Roboto;
      font-size: 1.2rem;
      font-weight: 500;
    }

    #cngbCreateBoxGrpNameinp::placeholder {
      text-indent: 1rem;
    }
  }

  #cngbCreateBoxGrpColor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding-left: 5rem;

    #cngbCreateBoxGrpColorP {
      font-family: Roboto;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 44px;
      letter-spacing: 0.035em;
      text-align: left;
      margin-right: 1rem;
    }
  }

  #cngbCreateBoxCreateBtnDiv {
    align-self: flex-end;

    #cngbCreateBoxCreateBtn {
      background-color: #000000;
      border: none;
      border-radius: 11px;
      color: #ffffff;
      font-family: Roboto;
      font-size: 0.7rem;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.035em;
      text-align: center;
      height: 2rem;
      width: 6rem;
      margin-right: 2rem;

      padding: 0;
      cursor: pointer;
      outline: none;
    }
  }
}
