#mlpMainContainer {
  display: grid;
  align-items: center;
  height: 100vh;
  width: 100vw;

  grid-template-rows: 1fr 1.2fr 8fr;
  box-sizing: border-box;
}

#mlpHeading {
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0.02em;
  text-align: left;
  padding-left: 1.5rem;
  padding-top: 0.8rem;
}

#mlpCrtNewGrp {
  justify-self: center;
  background-color: black;
  color: #ffffff;

  width: 15rem;
  height: 2rem;
  border-radius: 37.317787170410156px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  cursor: pointer;
}

#mlpAllGrps {
  align-self: flex-start;
  padding-left: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mlpGrpBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.mlpGrpBoxP {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000000;
}

#mlpCreateBox {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}

#mlpCreateBoxGrpName {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-left: 1rem;
}

#mlpCreateBoxGrpColor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.2rem;

  margin-left: 1rem;

  #mlpCreateBoxGrpColorP {
    margin-right: 0.4rem;
  }
}

#mlpCreateBoxHeading {
  font-size: 1.1rem;
  font-family: Roboto;
  font-weight: 500;
  line-height: 29px;
  text-align: left;

  margin-left: 1rem;
}

#mlpCreateBoxGrpNameP {
  font-size: 0.8rem;
  font-family: Roboto;
  font-weight: 500;
  text-align: left;
}
#mlpCreateBoxGrpColorP {
  font-size: 0.8rem;
  font-family: Roboto;
  font-weight: 500;
  text-align: left;
}

#mlpCreateBoxGrpNameinp {
  width: 8rem;
  height: 1.1rem;
  border-radius: 9.716089248657227px;
  margin-left: 0.4rem;
  border: 2px solid rgba(204, 204, 204, 1);
  font-size: 0.9rem;
  text-indent: 0.3rem;

  &::placeholder {
    font-size: 0.6rem;
    text-indent: 0.3rem;
    color: #979797;
  }
}

#mlpCreateBoxCreateBtnDiv {
  align-self: center;

  #mlpCreateBoxCreateBtn {
    background-color: #000000;
    border: none;
    border-radius: 11px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.035em;
    text-align: center;
    height: 2rem;
    width: 10rem;

    padding: 0;
    cursor: pointer;
    outline: none;
  }
}

#mlpCreateBox {
  position: relative;
}
#mlpCreateBoxCrossButton {
  position: absolute;
  top: 0.3rem;
  right: 0.5rem;
  background-color: inherit;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 0.9rem;
  font-family: Roboto;
  font-weight: 500;
  text-align: center;
}
