#smbMainBox {
  box-sizing: border-box;
  height: auto;
  width: calc(100% - 4rem);
  background-color: inherit;
  color: #000000;
  font-family: Roboto;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.035em;
  text-align: left;

  margin-bottom: 3rem;

  display: grid;
  grid-template-columns: 20% 80%;
  gap: 1rem;

  #smbMainBoxTxt {
    box-sizing: border-box;
    overflow-wrap: break-word;
  }
}

@media (max-width: 768px) {
  #smbMainBox {
    margin-bottom: 2rem;
    grid-template-columns: 30% 70%;
    width: calc(100% - 1rem);
  }

  
}
