$CustomWidth: 75vw;

#scsbMainBox {
  height: 100vh;
  width: $CustomWidth;
  background-color: #e8e8e8;
  display: grid;
  justify-content: flex-start;
  align-items: center;
  grid-template-rows: 1fr 6fr 2.5fr;
}

#scsbHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: $CustomWidth;
  font-family: Roboto;
  gap: 1rem;

  #scsbHeaderP {
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: left;
  }
}

#scsbAllChatsSection {
  background-color: #f7ecdc;
  width: $CustomWidth;
  height: 100%;
  box-sizing: border-box;
  padding: 2rem 2rem 0rem 2rem;
  overflow-y: auto;
}

#scsbTextInpSection {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  width: calc(100% - 2rem);

  #scsbTextInpSectionContainer {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    #scsbTextInpSectionInp {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      resize: none;
      box-sizing: border-box;
      font-family: Roboto;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 35px;
      letter-spacing: 0.02em;
      text-align: left;

      &::placeholder {
        font-family: Roboto;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0.02em;
        text-align: left;
        text-indent: 1rem;
      }
    }

    #scsbTextInpSectionBtn {
      position: absolute;
      bottom: 0.8rem;
      right: 0.8rem;
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  #scsbMainBox {
    width: 100vw;
  }

  #scsbHeader {
    width: 100vw;
    gap: 0.4rem;

    #scsbHeaderCircle {
      margin-left: 0;
    }
  }

  #scsbAllChatsSection {
    width: 100vw;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
  }

  #scsbHeaderGoTOHomePage {
    font-weight: bold;
  }
}
