#mainBoxLb {
  height: 100vh;
  width: 25vw;
  background-color: #ffffff;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 1fr 8fr;
}

#lbheading {
  font-family: Roboto;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0.02em;
  text-align: left;
  padding: 0.8rem 0 0 0.7rem;
  margin-bottom: 1.5rem;
}

#lbCRGC {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0.02em;
  text-align: center;
  border-radius: 50px;
  background-color: black;
  color: #ffffff;
  width: 13rem;
  height: 2rem;
  box-sizing: border-box;
  cursor: pointer;
  justify-self: self-start;
  justify-self: center;
  align-self: center;
}

#lbGrpList {
  box-sizing: border-box;
  margin-top: 0.7rem;
  height: 480px;
  width: 25vw;
  overflow-y: auto;
}

.lbGrpBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  border-radius: 32px 0px 0px 32px;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  justify-self: flex-start;
  cursor: pointer;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000000;
}/*# sourceMappingURL=LandingBox.module.css.map */