#mainBoxLib {
  height: 100vh;
  width: 75vw;
  background-color: #f7ecdc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#libinfoNimg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

#libimg {
  width: 28.125rem;
  height: 14.5625rem;
}

#libHeading {
  font-family: Roboto;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0.02em;
  text-align: left;
}

#libinfodata {
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
}

#libfooter {
  position: absolute;
  bottom: 0;
  width: 75vw;
  text-align: center;
  font-family: Roboto;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.02em;
}/*# sourceMappingURL=LandingInfoBox.module.css.map */