* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#parentWps {
  position: relative;
}

#mainBoxWps {
  position: absolute;
  display: grid;
  grid-template-columns: 25% 75%;
}/*# sourceMappingURL=WebPageScreen.module.css.map */